@-webkit-keyframes btn {
  form {
    background: left;
  }
  to {
    background-position: right;
  }
}

@keyframes btn {
  form {
    background: left;
  }
  to {
    background-position: right;
  }
}

@-webkit-keyframes openNav {
  0% {
    opacity: 0;
    left: -400px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes openNav {
  0% {
    opacity: 0;
    left: -400px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes closeNav {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -400px;
    opacity: 0;
  }
}

@keyframes closeNav {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -400px;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

.contaniner {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .hidden-phone {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #040c2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0f5b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #98fa84;
}

.btn:link,
.btn:visited {
  font-size: 3rem;
  text-decoration: none;
  color: antiquewhite;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#03a32b),
    color-stop(#1ea35a),
    color-stop(#14bd60),
    to(#0ed367)
  );
  background: linear-gradient(to right, #03a32b, #1ea35a, #14bd60, #0ed367);
  background-size: 400%;
  background-position: left;
  padding: 1rem 4rem;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 0 50px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}
.btn:link:hover,
.btn:visited:hover {
  animation: btn 0.9s alternate-reverse infinite;
  -webkit-transform: scale(1.1) translateY(-10px);
  transform: scale(1.1) translateY(-10px);
  -webkit-box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.4);
}
.btn:link:active,
.btn:visited:active {
  -webkit-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.more__story:link,
.more__story:visited {
  display: inline-block;
  font-size: 2.6rem;
  border-bottom: 1px solid #3da82a;
  text-decoration: none;
  padding: 5px;
  color: #3eb15b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.more__story:active,
.more__story:hover {
  background: #3eb15b;
  color: #fff;
  border-radius: 1rem;
}

@media (max-width: 900px) {
  .nav__center {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: radial-gradient(#038a2b, #0e8130);
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    -webkit-animation: openNav 0.5s alternate;
    animation: openNav 0.5s alternate;
  }
}

.nav__list {
  color: white;
  float: left;
}
@media (max-width: 900px) {
  .nav__list {
    display: block;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 11;
  }
}
.nav__list:after {
  content: "";
  clear: both;
  display: table;
}

.nav__item {
  display: inline-block;
  margin-top: 1rem;
}
@media (max-width: 900px) {
  .nav__item {
    display: block;
  }
}

.nav__link:visited,
.nav__link:link {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  font-size: 2.5rem;
  margin-top: 1rem;
  border-radius: 0 0 30px 30px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.nav__link:visited:hover,
.nav__link:link:hover {
  background-color: #038a2b;
}
@media (max-width: 900px) {
  .nav__link:visited:hover,
  .nav__link:link:hover {
    background-color: #fff;
  }
}
@media (max-width: 900px) {
  .nav__link:visited,
  .nav__link:link {
    border-radius: 10rem 0;
  }
}

@media (max-width: 900px) {
  .nav__item:hover .nav__link {
    color: #038a2b;
  }
}

.logo-box {
  float: right;
  color: antiquewhite;
  margin-top: 0.5rem;
}
@media (max-width: 900px) {
  .logo-box {
    margin: 1rem;
  }
}
.logo-box img {
  width: 10rem;
}
@media (max-width: 900px) {
  .logo-box img {
    width: 5rem;
  }
}

#nav-bar {
  display: none;
}
@media (max-width: 900px) {
  #nav-bar {
    display: inline-block;
    color: #fff;
    font-size: 3rem;
    margin: 0.5rem;
    cursor: pointer;
    position: fixed;
    z-index: 12;
    overflow: hidden;
    background: linear-gradient(45deg, #008031, #0e8130);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2rem #009031;
    box-shadow: 0 0 2rem #009031;
  }
}

.close {
  -webkit-animation: closeNav 0.5s;
  animation: closeNav 0.5s;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}
@media (max-width: 900px) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: auto !important;
  }
}
@media (max-width: 900px) {
  .row [class^="col-"] {
    margin-bottom: 3rem !important;
  }
}
.row:not(:last-child) {
  margin-bottom: 3rem;
}
.row:first-child {
  margin-top: 20px;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
@media (max-width: 600px) {
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 1);
    margin: 0 auto;
  }
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}
@media (max-width: 900px) {
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 2);
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 1);
  }
}
.row .col-2-of-3 {
  width: calc(((100% - 2 * 3rem) / 3) * 2 + 3rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}
@media (max-width: 900px) {
  .row .col-1-of-4 {
    width: calc((100% - 2 * 3rem) / 2);
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .row .col-1-of-4 {
    width: calc((100% - 2 * 3rem) / 1);
  }
}
.row .col-2-of-4 {
  width: calc(((100% - 3 * 3rem) / 4) * 2 + 3rem);
}
.row .col-3-of-4 {
  width: calc(((100% - 3 * 3rem) / 4) * 3 + (3rem * 2));
}

/*==== footer =====*/
.footer {
  padding: 5rem 0 1rem;
  background: #333;
}

.about-us,
.social {
  font-size: 2rem;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}
.about-us h4,
.social h4 {
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
.about-us p,
.social p {
  font-size: 0.8em;
  line-height: 2.2rem;
}

.social-list {
  list-style: none;
  text-align: center;
}

.social-item {
  display: inline-block;
  margin: 2rem 3rem;
}
@media (max-width: 450px) {
  .social-item {
    margin: 1rem 1.5rem;
  }
}
.social-item:last-child {
  margin-right: 0;
}

.social-link {
  color: #fff;
  font-size: 3rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social-link__facebook:hover {
  color: #3b3bdf;
}
.social-link__twitter:hover {
  color: aqua;
}
.social-link__instagram:hover {
  color: orangered;
}
.social-link__linkedin:hover {
  color: #2525b3;
}

.copyright {
  color: #fff;
  padding-top: 1rem;
  font-size: 2rem;
  border-top: 1px solid #444;
}
@media (max-width: 450px) {
  .copyright {
    font-size: 1.5rem;
  }
}
.copyright__link {
  color: currentColor;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.copyright__link:hover {
  color: #0a9735;
}

.header {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(9, 116, 54, 0.7)), to(rgba(0, 0, 0, 0.7))),
    url(../images/10.jpg);
  background: linear-gradient(to top, rgba(9, 116, 54, 0.7), rgba(0, 0, 0, 0.7)), url(../images/10.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.header__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}
@media (max-width: 900px) {
  .header__hero {
    width: 100%;
    margin: 0 2rem;
  }
}
.header__hero h1 {
  color: aliceblue;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 1rem;
  width: 90%;
}
@media (max-width: 600px) {
  .header__hero h1 {
    font-size: 3rem;
  }
}
.header__hero p {
  color: #d7fae0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 1rem;
  margin: 1rem 0;
  width: 90%;
}
@media (max-width: 600px) {
  .header__hero p {
    font-size: 2rem;
  }
}

/*adventure popup section*/
.adventure {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(68, 68, 68, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.adventure:target {
  visibility: visible;
  opacity: 1;
}
.adventure__display {
  width: 70%;
  height: 70vh;
  padding: 3rem;
  background: rgba(231, 231, 231, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.5s;
  transition: opacity 0.8s, -webkit-transform 0.5s;
  transition: opacity 0.8s, transform 0.5s;
  transition: opacity 0.8s, transform 0.5s, -webkit-transform 0.5s;
}
@media (max-width: 600px) {
  .adventure__display {
    width: 100%;
  }
}
.adventure:target .adventure__display {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.adventure__title p {
  color: #ffff;
  width: 80%;
  margin: 0 auto;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
  text-align: left;
}
.adventure__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.adventure__buttons a:nth-child(1) {
  font-size: 4rem;
  margin: 0 4rem;
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, right top, left top, from(#0a9e3c), to(#17dd59));
  background: linear-gradient(to left, #0a9e3c, #17dd59);
  text-decoration: none;
  border-radius: 10rem;
  color: #e7faed;
  text-transform: capitalize;
  background-position: right;
  background-size: 500%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 600px) {
  .adventure__buttons a:nth-child(1) {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
  }
}
.adventure__buttons a:nth-child(1):hover {
  background-position: left;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}
.adventure__buttons a:nth-child(2) {
  -ms-flex-item-align: center;
  align-self: center;
}
.adventure__buttons a:nth-child(2) i {
  float: right;
  font-size: 3rem;
  color: #0a9e3c;
  cursor: pointer;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.adventure__buttons a:nth-child(2) i:hover {
  color: transparent;
  text-shadow: 0 1px 0 #f34040;
}

/*====trival & cards====*/
.trival {
  padding: 8rem 0;
}
@media (max-width: 900px) {
  .trival {
    padding: 4rem 0;
  }
}

.card {
  height: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.466);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.466);
  text-align: center;
}
.card__photo {
  position: relative;
  height: 35vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.card__photo h4 {
  font-size: 1.8rem;
  color: #e9e9e9;
  position: absolute;
  top: 50%;
  right: 0.1rem;
  border: 1.5rem;
  width: 40%;
  text-transform: uppercase;
  background: #11b34f94;
}
.card__photo-forest {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(9, 116, 54, 0.7)), to(rgba(49, 49, 49, 0.5))),
    url(../images/8.jpg);
  background: linear-gradient(to top, rgba(9, 116, 54, 0.7), rgba(49, 49, 49, 0.5)), url(../images/8.jpg);
}
.card__photo-sea {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(9, 73, 116, 0.7)), to(rgba(49, 49, 49, 0.5))),
    url(../images/12.jpg);
  background: linear-gradient(to top, rgba(9, 73, 116, 0.7), rgba(49, 49, 49, 0.5)), url(../images/12.jpg);
}
.card__photo-ice {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(124, 209, 248, 0.7)), to(rgba(49, 49, 49, 0.5))),
    url(../images/5.jpg);
  background: linear-gradient(to top, rgba(124, 209, 248, 0.7), rgba(49, 49, 49, 0.5)), url(../images/5.jpg);
}
.card__photo-forest,
.card__photo-sea,
.card__photo-ice {
  background-size: cover;
  background-position: center;
}
.card__list {
  font-size: 1.5rem;
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
}
.card__item {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}
.card__item:not(:last-child) {
  margin-bottom: 1.2rem;
  border-bottom: 1px solid rgba(197, 197, 197, 0.506);
}
.card__book {
  background: -webkit-gradient(linear, left top, left bottom, from(#12af2c), to(#11b34f));
  background: linear-gradient(#12af2c, #11b34f);
  -webkit-clip-path: polygon(100% 100%, 100% 20%, 0 0, 0 100%);
  clip-path: polygon(100% 100%, 100% 20%, 0 0, 0 100%);
  color: #fff;
  padding: 3rem;
}
.card__book-box {
  margin-bottom: 3rem;
}
.card__book-price {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
}
.card__book-value {
  font-size: 2.5rem;
  display: block;
}
.card__book-btn {
  font-size: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0d7b16),
    color-stop(#0caf2f),
    color-stop(#39974d),
    to(#5bf303)
  );
  background-image: linear-gradient(to right, #0d7b16, #0caf2f, #39974d, #5bf303);
  background-size: 500%;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5rem 0;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-position: left;
}
.card__book-btn:hover {
  -webkit-transform: scale(1.1) translateY(-10px);
  transform: scale(1.1) translateY(-10px);
  background-position: right;
}

.feature {
  padding: 8rem 0 10rem;
  background: #f9fff9;
}
@media (max-width: 600px) {
  .feature {
    padding: 4rem 0 5rem;
  }
}
.feature__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature__item {
  font-size: 2rem;
  border-bottom: 4px solid transparent;
  border-radius: 1rem;
  padding: 4rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, right top, left top, from(#12af2c), to(#11b34f));
  background: linear-gradient(-90deg, #12af2c, #11b34f);
  -webkit-transition: border 0.5s, -webkit-transform 0.5s ease-out;
  transition: border 0.5s, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, border 0.5s;
  transition: transform 0.5s ease-out, border 0.5s, -webkit-transform 0.5s ease-out;
  color: white;
}
.feature__item:after {
  content: "";
  clear: both;
  display: table;
}
.feature__item i {
  font-size: 1em;
  float: right;
  margin-top: 10px;
  color: currentColor;
}
.feature__item h4 {
  font-size: 1.2em;
  margin: 1rem 0;
  float: left;
  color: currentColor;
  text-transform: capitalize;
}
.feature__item p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
  float: left;
  color: currentColor;
}
.feature__item:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
  border-bottom: 5px solid #2ba722;
}

/*say hello and leave us a message*/
.hello {
  padding: 8rem 0;
  background: radial-gradient(#0d7b16, #0caf2f);
}
.hello .section-title h2 {
  color: #ffffff;
}
.hello .section-title h2:after {
  background: #fff;
}

.formbook {
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.8) 50%, transparent 50%),
    url(../images/9.jpg);
  -webkit-box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
@media (max-width: 600px) {
  .formbook {
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.8) 100%, transparent 0%),
      url(../images/9.jpg);
    width: 90%;
    margin: 0 auto;
  }
}

.form {
  padding: 6rem;
  width: 50%;
}
@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}
.form .form__group {
  width: 90%;
}
.form .form__group label {
  font-size: 2.2rem;
}
.form .form__group-selection {
  padding: 1rem 1.5rem;
  margin-left: 3rem;
  border: 1px solid #0d9422;
  font-size: 2rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
@media (max-width: 1080px) {
  .form .form__group-selection {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 600px) {
  .form .form__group-selection {
    margin-left: 0;
    margin-top: 1rem;
  }
}
.form .form__group-selection:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
  box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
}
.form input[type="text"],
.form input[type="email"] {
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 3rem;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form input[type="text"]:focus:valid,
.form input[type="email"]:focus:valid {
  border-bottom: 3px solid #0d9422;
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
  box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
}
.form input[type="text"]:focus:invalid,
.form input[type="email"]:focus:invalid {
  border-bottom: 3px solid orangered;
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
  box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
}
.form textarea {
  resize: none;
  padding: 1.5rem 2rem;
  width: 90%;
  margin: 3rem 0;
  font-size: 2rem;
  border: 1px solid #0d9422;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
.form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
  box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.5);
}
.form input[type="submit"] {
  cursor: pointer;
  font-size: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0d7b16),
    color-stop(#0caf2f),
    color-stop(#39974d),
    to(#5bf303)
  );
  background-image: linear-gradient(to right, #0d7b16, #0caf2f, #39974d, #5bf303);
  background-size: 500%;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 5rem 0;
  color: #ffffff;
  display: inline-block;
  border: none;
  background-position: left;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.form input[type="submit"]:hover {
  background-position: right;
  -webkit-transform: scale(1.1) translateY(-10px);
  transform: scale(1.1) translateY(-10px);
  -webkit-box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.8);
  box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.8);
}

.nature-photo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nature-photo__item {
  width: 25%;
  max-height: 45vh;
  display: block;
  list-style: none;
  overflow: hidden;
}
.nature-photo__item figure {
  background: #131313;
  width: 100%;
  height: 100%;
  max-height: 45vh;
  overflow: hidden;
}
.nature-photo__item figure img {
  max-width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nature-photo__item figure img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.testimoniel {
  min-height: 100vh;
  height: auto;
  padding: 8rem 0;
  position: relative;
}

.story {
  width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.61);
  padding: 6rem;
  font-size: 1.5rem;
  -webkit-transform: skew(-12deg);
  transform: skew(-12deg);
}
@media (max-width: 600px) {
  .story {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.story:not(:last-child) {
  margin-bottom: 3rem;
}
.story:after {
  content: "";
  clear: both;
  display: table;
}
.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  margin-right: 2rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: skew(12deg);
  transform: skew(12deg);
}
@media (max-width: 600px) {
  .story__shape {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.story__photo {
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.story__name {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.story__text {
  -webkit-transform: skew(12deg);
  transform: skew(12deg);
}
@media (max-width: 600px) {
  .story__text {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.story__text h3 {
  margin-bottom: 1rem;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ea54b), to(#1fa055));
  background: linear-gradient(#1ea54b, #1fa055);
  background-clip: text;
  -webkit-background-clip: text;
}
.story__text p {
  line-height: 2rem;
}
.story:hover .story__photo {
  -webkit-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
}
.story:hover .story__name {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  overflow: hidden;
}
.video video {
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  opacity: 0.5;
}

/*====typorgphy====*/
.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 900px) {
  .section-title {
    font-size: 3rem;
  }
}
.section-title h2 {
  background: -webkit-gradient(linear, left top, right top, from(#0a9e3c), to(#0a9e3c));
  background: linear-gradient(to right, #0a9e3c, #0a9e3c);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 600%;
  font-weight: 400;
  font-size: 1em;
  color: transparent;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: background-size 0.5s;
  transition: background-size 0.5s;
}
.section-title h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 3px;
  background-color: #0a9e3c;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}
.section-title h2:hover::after {
  width: 100%;
}
.section-title h2:hover {
  background-size: 100%;
}
.section-title p {
  font-size: 0.4em;
  color: #454545;
}
