
/*==== footer =====*/

.footer {
    padding: 5rem 0 1rem;
    background: #333;
}                 

.about-us , .social {

    font-size: 2rem;
    color: #fff;
    border-top: 1px solid #fff;
    padding: 1rem 0;
    width: 90%;

    margin: 0 auto;

    & h4 {
        font-size: 2em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 1rem; 
    }
 
    & p { 
        font-size: .8em;
        line-height: 2.2rem;
    } 

}

.social {

    &-list {
        list-style: none;
        text-align: center;
    }

    &-item {
        display: inline-block;
        
        margin: 2rem 3rem;
        
        @include responScreen(sm-phone) {
            margin: 1rem 1.5rem;
        }

        &:last-child {
            margin-right: 0;
        }

     
    }
 
    &-link {
        color: #fff;  
        font-size: 3rem;  
        border-radius: 50%;
        transition: all .5s;
          
        &__facebook {
           
            &:hover {
                color: rgb(59, 59, 223);
               
            }  
        }

        &__twitter {
            
            &:hover {
                color: aqua;
            }
        }

        &__instagram {
        
            &:hover {
                color: orangered;
            }
        }

        &__linkedin {
               
            &:hover {
                color: rgb(37, 37, 179);
            }
        }
      
    }
}

.copyright {
    color: #fff;
    padding-top: 1rem;  
    font-size: 2rem;
    border-top: 1px solid #444;
   
    @include responScreen(sm-phone) {
        font-size: 1.5rem;
    }

    &__link {  
        color: currentColor;
        text-decoration: none;
        transition: color .5s;

        &:hover {
            color: rgb(10, 151, 53);
        }
    }
} 

 